@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .spinner {
    background: conic-gradient(from 0deg, #5e50f4 0%, #b1f9f3 50%, #5e50f4 100%);
    animation: rotate 1.2s linear infinite;
  }

  .spinner::before {
    content: "";
    position: absolute;
    inset: 13%; /* 내부 흰색 원 크기 조정 */
    background: white;
    border-radius: 50%;
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
